*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    max-width: 1550px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 50px;

}
.text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.text1{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.register{
    text-align: center;
    width: 148px;
    height: 48px;
    background-color: #004AAD;
    border-radius: 4px;
    color: white;
}

.text3{
    margin-top: 12px;
}

@media screen and (max-width: 1200px) {
    nav{
        margin: 15px 25px;
    
    }
    .logo{
        width: 120px;
    }
    .arrow-down{
        width: 12px;
    }
    .text{
        gap: 25px;
    }
    
    .text1{
        font-size: 12px;
    }
    .register{
        width: 98px;
        height: 30px;
        border-radius: 4px;
    }
    
    .text3{
        margin-top: 8px;
        font-size: 13px;
    }
     
  }

@media screen and (max-width: 830px) {
    
    nav{
        margin: 10px 9px;
    
    }
    .logo{
        width: 50px;
    }
    .arrow-down{
        width: 4px;
    }
    .text{
        gap: 7px;
    }
    
    .text1{
        font-size: 4px;
    }
    .register{
        width: 68px;
        height: 19px;
        border-radius: 4px;
    }
    
    .text3{
        margin-top: 5px;
        font-size: 8px;
    }
     
  }
